<!-- producto.ejs -->
<%- include('partials/head2', { tituloDePagina: tituloDePagina }) -%>

	<body>


		<h1>Modificar el Item</h1>

		<form class="crear" action="" method="POST">

			<div>
				<h4>Nombre</h4>
				<input type="text" id="nombre" name="nombre" value="<%= registro.nombre %>">

				<h4>Caracteristicas</h4>
				<input type="text" id="caracteristicas" name="caracteristicas" value="<%= registro.caracteristicas %>">

				<h4></h4>

				<h4>Imagen Actual</h4>
				<img class="actual" src="/img/webp/<%= registro.imagen %>" alt="<%= registro.nombre %>">
				<input type="hidden" value="<%= registro.imagen %>">

			</div>

			<div>
				<h4>Precio</h4>
				<input type="number" id="precio" name="precio" step="0.01" min="0.01" placeholder="0.00"
					value="<%= registro.precio %>">

				<h4>Gramaje</h4>
				<input type="text" id="gramaje" name="gramaje" value="<%= registro.gramaje %>">

				<h4>Variedad</h4>
				<select name="variedad_id" id="variedad_id" value="<%= registro.variedad_id %>">
					<% variedades.forEach(variedad=> { %>
						<% if (variedad.id==registro.variedad_id) { %>
							<option value="<%= variedad.id %>" selected>
								<%= variedad.nombre %>
							</option>
							<% } else { %>
								<option value="<%= variedad.id %>">
									<%= variedad.nombre %>
								</option>
								<% } }); %>
				</select>

				<h4>Reemplazar Imagen</h4>
				<input type="file" id="imagen" name="imagen">

				<!-- se crea este hidden, porque no esta llegando la imagen actual al input
				     si no elige ninguna foto y ya tenia, queda vacio el campo en la base -->
				<input type="hidden" name="imagenActual" value="<%= registro.imagen %>">

				<input type="hidden" name="idMod" value="<%= registro.id %>">
				<button type="button" class="btn3" onclick="modificarProducto()">Actualizar</button>
			</div>

		</form>

		<script src="/JS/helper.js"></script>
		<script src="/JS/producto.js"></script>

		<%- include('partials/footer2') -%>
	</body>