<!-- producto.ejs -->
<%- include('partials/head', { tituloDePagina: tituloDePagina }) -%>

	<body>


		<h1>Modificar el Item</h1>

		<form class="crear" action="/modificar?_metodo=PUT" method="POST">

			<div>
				<h4>Nombre</h4>
				<input type="text" id="nombre" name="nombre" value="<%= registro.nombre %>">

				<h4>Caracteristicas</h4>
				<input type="text" id="caracteristicas" name="caracteristicas" value="<%= registro.caracteristicas %>">

				<h4>Imagen</h4>
				<input type="file" id="imagen" name="imagen" value="<%= registro.imagen %>">
			</div>

			<div>
				<h4>Precio</h4>
				<input type="number" id="precio" name="precio" step="0.01" min="0.01" placeholder="0.00"
					value="<%= registro.precio %>">

				<h4>Gramaje</h4>
				<input type="text" id="gramaje" name="gramaje" value="<%= registro.nombre %>">

				<h4>Variedad_id</h4>
				<select name="variedad_id" id="variedad_id" value="<%= registro.variedad_id %>">
					<option value="1">Especias</option>
					<option value="2">Hierbas Aromáticas</option>
					<option value="3">Mix</option>
					<option value="4">Hierbas Medicinales</option>
				</select>
				<input type="hidden" name="idMod" value="<%= registro.id %>">
				<input class="btn3" type="submit" value="Actualizar">
			</div>
			
		</form>
		
		<br>
		<br>
		<%- include('partials/footer') -%> 